# @package _global_
defaults:
  - override /hydra/launcher: submitit_slurm

hydra:
  mode: MULTIRUN # needed to use submitit

  launcher:
    _target_: hydra_plugins.hydra_submitit_launcher.submitit_launcher.SlurmLauncher
    submitit_folder: ${hydra.sweep.dir}/.submitit/%j
    name: ${list_to_str:${tags}}
    partition: boost_usr_prod
    account: pnrr_itserr
    nodes: 1
    tasks_per_node: 1
    cpus_per_task: 10
    mem_per_cpu: null
    mem_per_gpu: null
    mem_gb: 32
    gres: gpu:1
    signal_delay_s: 120
    timeout_min: 720
    array_parallelism: 10 # number of jobs to launch in parallel